.tab {
  margin: 0 5px;
}
@media only screen and (max-width: 376px) {
  body {
    margin: 0
  }
  .tab {
    font-size: 10px !important;
  }
  .CareerHeadline .col-xs {
    padding: 0
  }
}
@media only screen and (max-width: 426px) {
  .tab {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 427px) {
  .tab {
    font-size: 14px !important;
  }
}
