.Menu__title-jobType {
  margin: 0 5px;
}

@media only screen and (max-width: 376px) {

  .Menu__title-jobType {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 426px) {

  .Menu__title-jobType {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 427px) {

  .Menu__title-jobType {
    font-size: 14px !important;
  }
}
