.Headline__description {
  text-align: justify;
}
.Headline__photo-profile {
  border-radius: 80px;
  height: 80px;
  width: 80px;
}
@media only screen and (max-width: 470px) {
  .Headline__photo-profile {
    display: none;
  }
}
