.StackChip__chip {
  margin-right: 20px;
}
.StackChip__wrapper {
  float: right;
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translate(0,-50%);
}
@media only screen and (max-width: 470px) {
  .StackChip__wrapper {
    display: none;
  }
}
